
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.grid-wrapper {
    display: flex; 
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}
.grid-row {
    display: flex;
    flex-direction: row;
    position: relative;
           
}
.grid {
    
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
.absolute {
    position: absolute; 
    background-color: red;  
}
.absolute-grid {
    position:absolute;
    background-color:red;
    
}
.absolute-grid-row {
    position: absolute;
}
.change-color {
    background-color: green;
}
#reset-button {
    margin-top: 19px;
}
.top {
    top: 106px;
}

